#interactive{
	width: 100%;
	margin: 1rem 0;
}

#interactive > svg, #interactive > #svgContainer, .tick text {
	max-width: 1000px;
	margin: 0 auto;
	font-family: "akkurat", -apple-system, sans-serif;
}

#interactive {
	color: #333;
	font-family: "akkurat", -apple-system, sans-serif;
}

#interactive label {
	display: block;
}

#interactive input {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

#interactive .sourceline {
	font-size: 14px;
	color: #999;
	margin: 1rem 0;
}

#interactive .sourceline a {
	color: #999;
}
